@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, p, li, button{
    font-family: 'Josefin Sans', sans-serif;
}

.logo h2, .logo{
 width: 70px;
 padding-top: 10px;
}

/* nav start */

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    padding: 0 45px;
}

.navlinks{
    display: none;
}

.burger div{
    display: block;
    height: 4px;
    width: 35px;
    background-color: black;
    margin: 5px;
}
/* nav end */


/* Jumbotron start */
.jumbotron{
    background-color: #F5E6D8;
    height: 55vh;
}
.paws{
    opacity: 45%;
}

.paw1{
    width: 10%;
    position: absolute;
    top: 100px;
    left: 20px;
    transform: rotate(-20deg);
    z-index: -1;
}

.paw2{
    width: 12%;
    position: absolute;
    top: 110px;
    left: 390px;
    transform: rotate(20deg);
    z-index: -1;
}

.paw3{
    width: 11%;
    position: absolute;
    top: 390px;
    left: 30px;
    transform: rotate(-20deg);
    z-index: -1;
}

.paw4{
    width: 8%;
    position: absolute;
    top: 390px;
    left: 390px;
    transform: rotate(-20deg);
    z-index: -1;
}

.jumbocontent{
    text-transform: uppercase;
    text-align: left;
}

.jumbocontent h1{
    position: absolute;
    color: #E75934;
    font-weight: 800;
    font-size: 1.7em;
    padding: 145px 50px 0;
    z-index: 8;
    left: 200px;
    top: 180px;
}

/* jumbotron end */

/* cat in jumbotron */
.catabout img{
    width: 175px;
}

#catleg{
    position: absolute;
    top:140px;
    left:75px;
    z-index: 6;
}

#catup{
    width: 190px;
    position: absolute;
    top:180px;
    left:200px;
    z-index: 4;
}

.whitebox1{
    background-color: white;
    width: 195px;
    height: 285px;
    position: absolute;
    top:130px;
    left:65px;
    z-index: 5;
}

.whitebox2{
    background-color: white;
    width: 195px;
    height: 147px;
    position: absolute;
    top:170px;
    left:205px;
    z-index: 3;
}

.whitebox3{
    background-color: white;
    width: 230px;
    height: 90px;
    position: absolute;
    top:290px;
    left:210px;
    z-index: 7;
}
/* cat end in jumbotron */


/* motivation start */
.motivation h2{
    color: #E75934;
    text-align: center;
    padding: 30px 0 20px;
}
.motivationcontent{
    background-color: #F5E6D8;
    color: #E75934;
    font-weight: 400;
    padding: 25px;
    margin: 0 40px 40px;
}

.motivationcontent p{
    line-height: 1.3;
}
/* motivation end */


/* owners start */
.owners img{
    width: 235px;
    height: 156px;
}

#owner1{
    position: absolute;
    top: 980px;
    left: 0px;
    z-index: 8;
}

#owner2{
    position: absolute;
    top: 980px;
    right: 0px;
    z-index: 8;
}

.ownersbg{
    background-color: #F5E6D8;
    width: 100%;
    padding-top: 110px;
    padding-bottom: 20px;
    position: absolute;
    top: 1050px;
}

.owners h2{
    color: #E75934;
    text-align: center;
    font-size: 1.8em;
}

.ownerscontent{
    padding: 130px 50px 20px;
    text-align: left;
    color: #E75934;
    line-height: 1.3em;
    margin-top: 140px;
}

.ownerscontent p:first-child{
    padding-bottom: 4%;
}

#catoutlineowners{
    width: 60px;
    position: absolute;
    top: 1120px;
    left: 20px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
/* owners end */



/* jumbotron 2 start*/
.jumbotron2{
    background-color:#FCAE54;
    height: 24vh;
}

.jumbo2content{
    text-align: center;
    color: white;
}

.jumbotron2 h1{
    font-weight: bold;
    font-size: 1.6em;
    padding: 32px 50px 7px;
}
.jumbotron2 p{
    font-weight: 400;
    font-size: 0.85em;
    line-height: 1.4;
}

.contactus{
    border: none;
    background-color: white;
    border-radius: 15px;
    padding: 10px 20px 7px;
    margin-top: 10px;
    color: #FCAE54;
    text-transform: uppercase;

}
/* jumbotron 2 end */




/* cats */
.cats{
    opacity: 0.3;
}
.cat1{
    position: absolute;
    width: 35px;
    top:1600px;
    left:80px;
}

.cat2{
    position: absolute;
    width: 35px;
    top:1730px;
    left:430px;
}

.cat3{
    position: absolute;
    width: 35px;
    top:1680px;
    left:35px;
}

.cat4{
    position: absolute;
    width: 35px;
    top:1600px;
    left:390px;
}
/* cats end */








/* Footer start */
.footer1{
    margin-top: 3vh;
    height:32vh;
    background-color: white;
}

.footer1 ul{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.footer1 li{
    width: 150px
}

.footer1 h5{
    font-size: 1.4em;
    margin-bottom: 5%;
    color: #E75934;
}

.footer1 p{
    font-size: 0.8em;
}

.about{
    padding-left: 5px;
}
.about p{
    padding-bottom: 36px;
}

.contact p{
    font-size: 0.7em;
    line-height: 1.4;
}

.footer2{
    height: 5vh;
    background-color: #6C8070;
}

.footerlogo{
    width: 125px;
    padding: 0 0 60px 20px;
}
/* footer end */










/* media queries */
@media only screen and (min-width: 1200px){
    
    /* navigation start MEDIA*/
    .burger{
        display: none;
    }

    nav{
        height: 18vh;
    }

    .navlinks{
        display: flex;
        text-transform: uppercase;
    }

    .navlinks li{
        padding-right: 100px;
        padding-top: 11px;
        font-size: 1.3em;
        font-weight: 400;
    }

    .navlinks a{
        color: #E75934;
    }

    .navlinks button{
        background-color: #E75934;
        border: none;
        padding: 13px 20px 10px;
        text-transform: uppercase;
        border-radius: 20px;
        font-size: 1.1em;
    }

    .navlinks button{
        color: white;
    }

    .logo h2, .logo{
        width: 90px;
        padding-top: 10px;
    }
    /* navigation end MEDIA*/





    /* jumbotron MEDIA */
    .jumbotron{
        height: 70vh;
    }

.paw1{
    width: 10%;
    top: 130px;
    left: 200px;
}

.paw2{
    width: 12%;
    top: 110px;
    left: 990px;
}

.paw3{
    width: 11%;
    top: 390px;
    left: 30px;
}

.paw4{
    width: 8%;
    top: 410px;
    left: 1190px;
}

.jumbocontent h1{
    padding: 145px 50px 0;
    left: 675px;
    top: 285px;
    font-size: 2.5em;
}

.catabout img{
    width: 260px;
}

#catleg{
    top:175px;
    left:450px;
}

#catup{
    width: 320px;
    top:220px;
    left:670px;
}

.whitebox1{
    width: 290px;
    height: 420px;
    top:160px;
    left:435px;
}

.whitebox2{
    width: 350px;
    height: 240px;
    top:205px;
    left:655px;
}

.whitebox3{
    width: 380px;
    height: 110px;
    top:390px;
    left:655px;
}
/* cat end in jumbotron  MEDIA*/


/* motivation start  MEDIA*/
.motivation h2{
font-size: 2em;
padding: 40px 0 30px;
}
.motivationcontent{
    padding: 40px;
    margin: 0 100px 100px;
}

.motivationcontent p{
    font-size: 1.2em;
}
/* motivation end MEDIA*/



/* owners start MEDIA*/
.owners img{
    width: 300px;
    height: 200px;
}

#owner1{
    top: 1060px;
    left: 27%;
}

#owner2{
    top: 1060px;
    right: 27%;
}

.ownersbg{
    background-color: #F5E6D8;
    width: 100%;
    margin-top: 120px;
    padding-top: 130px;
    padding-bottom: 30px;
    position: absolute;
    top: 1050px;
}

.owners h2{
    color: #E75934;
    text-align: center;
    font-size: 2em;
}

.ownerscontent{
    padding: 130px 50px 20px;
    margin: 170px 80px 20px;
    text-align: left;
    color: #E75934;
}

.ownerscontent p:first-child{
    padding-bottom: 4%;
    padding-left: 100px;
}

.ownerscontent p{
    font-size: 1.2em;
    line-height: 1.4em;
}

#catoutlineowners{
    width: 130px;
    top: 1270px;
    left: 80px;
}

/* owners end MEDIA*/





     /* jumbotron 2 start*/
.jumbotron2{
    background-color:#FCAE54;
    height: 24vh;
}

.jumbo2content{
    text-align: center;
    color: white;
}

.jumbotron2 h1{
    font-weight: bold;
    font-size: 1.6em;
    padding: 32px 50px 7px;
}
.jumbotron2 p{
    font-weight: 400;
    font-size: 0.85em;
    line-height: 1.4;
}

.contactus{
    border: none;
    background-color: white;
    border-radius: 15px;
    padding: 10px 20px 7px;
    margin-top: 10px;
    color: #FCAE54;
    text-transform: uppercase;

}
/* jumbotron 2 end */




/* cats  MEDIA*/

    .cat1{

        width: 50px;
        top:1760px;
        left:150px;
    }

    .cat2{
        position: absolute;
        width: 50px;
        top:1810px;
        left:930px;
    }

    .cat3{
        position: absolute;
        width: 50px;
        top:1700px;
        left:430px;
    }

    .cat4{
        position: absolute;
        width: 50px;
        top:1700px;
        left:1190px;
    }
    /* cats end  MEDIA*/





    /* footer start MEDIA */
    .footer1 li{
        width: 350px
      }
  
      .contact p{
        font-size: 0.8em;
        line-height: 1.6;
      }   
  
      .footer1 p{
          font-size: 0.9em;
      }
  
      .footerlogo{
          width: 170px;
          padding: 30px 0 60px 40px;
      }
      /* end footer MEDIA */
}


.navlinks button{
    background-color: #E75934;
    border: none;
    color: white;
    padding: 13px 20px 10px;
    text-transform: uppercase;
    border-radius: 20px;
    font-size: 0.8em;
}

.navlinks{
    display: flex;
    width: 52%;
    justify-content: space-around;
}

.navlinks a{
    color:#E75934;
    text-transform: uppercase;
    font-size:1.1em;
}


/* Burger content hidden when full screen */
.burger {
    display:none;
    cursor: pointer;
}

.burger div{
    width: 30px;
    height:4px;
    background-color: black;
    margin:5px;
    transition: all 0.3s ease;
}
/* end burger content */

/* fixes the spacing of the links at tablet size */
@media screen and (max-width:1100px){
    .navlinks{
        width: 55%;
    }
}


/* creates the burger as navigation at mobile. */
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }

    .navlinks{
        position:absolute;
        right: 0px;
        height: 92vh;
        top:8vh;
        background-color:#F5E6D8;
        display:flex;
        flex-direction: column;
        align-items: center;
        width:50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 5;
    }

    .navlinks li{
        opacity: 0;
    }

    .burger{
        display: block;
    }
}


/* moves the navigation back over when nav is active */
.nav-active{
    transform: translateX(0%)
}

/* makes the links slide in */
@keyframes navLinkFade{
    from{
        opacity:0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-6px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-6px,-6px);
}